version: '3'

services:
  app:
    build: .
    ports:
      - '3000:3000'
    environment:
      - DATABASE_URI=postgres://user:password@localhost:5432/db
      - REDIS_URL=redis://localhost:6379
      - PAYLOAD_SECRET=YOUR_SECRET_HERE
