version: '3'

services:
  app:
    build: .
    ports:
      - '3010:3000'
    environment:
      - DATABASE_URI=postgres://john:6d824a8fcb75e45621bded4328a9cb02@192.168.0.17:5432/site   #postgres://user:password@localhost:5432/db
      - REDIS_URL=redis://localhost:6379
      - PAYLOAD_SECRET=6d824a8fcb75e45621bded4328a9cb02
