version: '3.8'

services:
  payload:
    build: .  # Isso diz ao Docker para usar o Dockerfile que o Jules criou
    image: iprosaude-local:latest
    restart: always
    ports:
      - '3010:3000'
    environment:
      - DATABASE_URI=postgres://john:6d824a8fcb75e45621bded4328a9cb02@postgres:5432/postgres
      - REDIS_URL=redis://redis:6379
      - PAYLOAD_SECRET=6d824a8fcb75e45621bded4328a9cb02
      - NODE_ENV=production
    networks:
      - app

networks:
  app:
    external: true
    name: app  # Aqui você coloca o nome real da rede que você criou no Portainer
